* {
  box-sizing: border-box;
}

h1 {
  color: black;
  text-align: center;
  font-size: 150%;
  font-weight: bolder;
  font-family: sans-serif;
}

p {
  width: 30%;
  float: left;
  padding: 10px;
  margin: 10px; 
 }


#div1 {
  background-color: #a28fe0;
  border-width: 1px;
  border: solid black;
  font-family: sans-serif;
  padding-top: 0px;
  padding-right: 0px;
  
}
#div2 {
  background-color: #e8acd5;
  border: solid black;
  font-family: sans-serif;
  padding-top: 0px;
  padding-right: 0px;
}
#div3 {
  background-color: #ace8dc;
  border: solid black;
  font-family: sans-serif;
  padding-top: 0px;
  padding-right: 0px;
}

#menu1 {
  background-color: #bbb2f0;
  border: solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  float: right;

  
}
#menu2 {
  background-color: #de97bf;
  border: solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  float: right;
  
}
#menu3 {
  background-color: #97dcde;
  border: solid black;
  border-top-width: 0px;
  border-right-width: 0px;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 1px;
  padding-bottom: 1px;
  color: white;
  float: right;
  
}

/********** Desktop view only **********/
@media (min-width: 992px) {
  #div1 {
    width: 31%;

  }
  #div2 {
    width: 31%;
    
  }
  #div3 {
    width: 31%;
  }
}


/********** Tablet View only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #div1 {
    width: 45%;
  }
  #div2 {
    width: 45%;
    
  }
  #div3 {
    width: 92%;
  }
}
  /********** Mobile View only **********/
@media (max-width: 767px) {
  #div1 {
    width: 95%;
  }
  #div2 {
    width: 95%;
  }
  #div3 {
    width: 95%;
  }
}